.container {
    column-count: 4;
    column-width: 100px;
    column-gap: 20px;
    column-rule: 4px solid rgb(79, 185, 227);
    overflow-y: auto;
    width: 60%;
    height: 300px;
  }

  .card {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(139, 185, 197);
    border: 2px solid rgb(79, 185, 227);
    padding: 10px;
    margin: 0 0 1em 0;
  }